.add-layer{


}
input[type=number]{
    margin-bottom: 10px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
 
}
.add-layer button{
    border-radius: 50%;
}

 @media only screen and (max-width: 770px){
    .add-layer{
    margin-top:10px;

}
 }