<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Add Element (Outside)</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click');reset()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Select an element from the template or add new element by inputting its properties</p>
    <div class="row">
        <div class="col-4">
            <label> From Template</label>
        </div>
        <div class="col-8">
            <select [(ngModel)]="selectedValue "(ngModelChange)="toNumber($event)">
                <option *ngFor="let layer of rValues" [ngValue]="layer.rvalue">{{layer.Material}}</option>
            </select>
        </div>
    </div>
    <h3 *ngIf="!selected">OR</h3>
    <div class="row" *ngIf="!selected">
        <div class="col-4">
            <label> Name</label>
        </div>
        <div class="col-8">
           <input type="text" [(ngModel)]="layerName">
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <label> Thickness</label>
        </div>
        <div class="col-8">
           <input type="number" [(ngModel)]="AThickness">
        </div>
    </div>
    <div class="row" *ngIf="!selected">
        <div class="col-4">
            <label> Resistivity</label>
        </div>
        <div class="col-8">
           <input type="number" [(ngModel)]="AResistivity">
        </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click'); passValues();">Add</button>
    <button type="button" class="btn btn-secondary" (click)="c('Close click');reset()">Close</button>
    
  </div>
</ng-template>

<div class="add-layer"[style.margin-bottom]="count*10 + 30+ 'px'">
    <button class="btn btn-sm btn-outline-primary" (click)="open(content);" >+</button> 
</div>


