.add-layer{
    margin-top:70px;
    margin-bottom:30px;
}
input[type=number]{
    margin-bottom: 10px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
 
}
.add-layer button{
    border-radius: 50%;
}